*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F0F8FF;
}

header {
    display: flex;
    height: 80px;
    background: #00ff7f;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 1.7rem;
    gap: 0.7rem;
}

header nav ul a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}

header nav ul a:hover {
    text-decoration: underline;
    color: #00bfff;
}

.cor {
    width: 20px;
    border-radius: 100px;
}

.titulo {
    width: 67%;
 }


main h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
section{
    justify-content: center;
    align-items: center;
    display: grid;
    font-size: 15px;
    font-weight: 600;
    gap: 20px;
    margin-top: 15px;
}

.texto{
     width: 60%;
    border: solid black;
    border-radius: 20px;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    margin: auto;
    line-height: 1.6;
    
}
a{
    justify-content: center;
    align-items: center;
    display: flex;
}

footer {
    display: flex;
    justify-content: space-around;
    background: #66cc66;
    padding: 40px;
}

footer a {
    color: #000;
}

footer a:hover {
    text-decoration: underline;
    color: #778899;
}

.informacao {
    font-size: 150%;
    font-weight: 700;
}

.sociais {
    font-size: 150%;
    font-weight: 700;
    margin-left: 900px;
}

.redes img {
    width: 40px;
    gap: 10px;
    cursor: pointer;
}